.contacts 
    a.contact(href="tel:+380990918412")
        i.fa.fa-mobile.contact__icon(href-hidden="true")
        span.contact__text 6337 3128

    a.contact(href="mailto:alkoman157@gmail.com")
        i.fa.fa-envelope.contact__icon.contact--email(aria-hidden="true")
        span.contact__text alkoman157@gmail.com

    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")